<div class="details-container">
  <div class="details-card">

    <div *ngIf="carregando" class="status-box loading">
      <p>Carregando dados da venda...</p>
    </div>

    <div *ngIf="!carregando && erro" class="status-box error">
      <h2>Ops!</h2>
      <p>{{ erro }}</p>

      <a routerLink="/vendas" class="btn-voltar">
        Voltar para a listagem
      </a>
    </div>

    <div *ngIf="!carregando && venda" class="produto-content">
      <div class="header">
        <h1>Detalhes da Venda #{{ venda.id }}</h1>
        <a routerLink="/vendas" class="btn-voltar">Voltar</a>
      </div>

      <div class="info-grid">
        <div class="info-item">
          <span class="label">Cliente</span>
          <span class="value">{{ venda.cliente.nome }}</span>
        </div>

        <div class="info-item">
          <span class="label">Status do Pagamento</span>
          <span class="value">{{ statusTradutor[venda.status] }}</span>
        </div>

        <div class="info-item">
          <span class="label">Frete</span>
          <span class="value">{{ venda.frete | currency:'BRL' }}</span>
        </div>

        <div class="info-item">
          <span class="label">Desconto</span>
          <span class="value">{{ venda.desconto | currency:'BRL' }}</span>
        </div>

        <div class="info-item full-width highlight-total">
          <span class="label">Valor Total</span>
          <span class="value">{{ venda.total | currency:'BRL' }}</span>
        </div>

        <div class="info-item full-width">
          <span class="label">Itens da Venda</span>

          <div class="itens-lista">
            @for (item of venda.itens; track item.produto.id) {
            <div class="item-row">
              <div class="item-nome">{{ item.produto.nome }}</div>
              <div class="item-qtd">{{ item.quantidade }}x</div>
            </div>
            } @empty {
            <span class="value">Nenhum item encontrado nesta venda.</span>
            }
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
